@{
    ViewData["Title"] = "Registration Page";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/auth/register.css">
    <title>Registration</title>
   
</head>
<body>
    <div class="Reg-container">
        <h2>Registration</h2>
        <form method="post" action="/Auth/Login">
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" id="Email" name="Email" required />
            </div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" id="Name" name="Name" required />
            </div>
            <div class="form-group">
                <label for="SurName">Surname</label>
                <input type="text" id="SurName" name="SurName" required />
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" id="Password" name="Password" required />
            </div>
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
        </form>
        <p class="text-center"> <a href="/Auth/Login">Already have an account?</a></p>
    </div>
</body>
</html>

