@model Domain.Models.Question

@{
    ViewData["Title"] = "AddQuestion";
}

<h1>Add Question</h1>

<h1>Add question</h1>

<form method="post">
    <input asp-for="Text"/>
    <input asp-for="Answers"/>
</form>
