<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/ss.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            @foreach (var film in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <h5 class="card-title">@film.Title</h5>
                        <img class="card-img-top" src="@film.ImageUrl" alt="@film.Title">
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
